

<form class='name-input' action='/waiting_room' method='get'>
	Enter your name: <input type='text' name='name' class='username' placeholder='Enter your name'>
	<input type='submit' value='Submit'>
</form>